<div class="site-wrapper">   

    <!-- Modal -->
    <!-- Adicionando um ID ao modal --
    <div *ngIf="true" class="modal fade" id="meuModal" #meuModal tabindex="-1" aria-labelledby="meuModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="meuModalLabel">AVISO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div *ngIf="pdfUrl" class="modal-body">
                <iframe [src]="safePdfUrl" width="100%" style="height: 65vh;"></iframe>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
        </div>
    </div>
     fim Modal -->
  

  <header class="header-holder">             
      <div class="menu-wrapper center-relative relative">             
          <div class="header-logo">
              <a href="#">
                  <img src="/assets/images/logo.png" alt="Cardea">
              </a>               
          </div>

          <div class="toggle-holder">
              <div id="toggle" class="" (click)="showMenuMobile()">
                  <div class="first-menu-line"></div>
                  <div class="second-menu-line"></div>
                  <div class="third-menu-line"></div>
              </div>
          </div>

          <div class="menu-holder" [ngClass]="{'show': showMenu === true}">
              <nav id="header-main-menu">
                  <ul class="main-menu sm sm-clean">
                      <li *ngFor="let item of pageList; index as i" >
                          <a *ngIf="item.pagina_interna == false;else other_content" [routerLink]="['/home']" [fragment]="item.slug">{{item.titulo }}</a>
                          <ng-template #other_content>
                              <a  [routerLink]="['/interna/', item.slug]" >{{item.titulo}}</a>
                          </ng-template>
                      </li>                                                           
                  </ul>
              </nav>                       
          </div>
          <div class="clear"></div>   
      </div>
  </header>

  <router-outlet></router-outlet>

        <footer class="footer">
          <div class="footer-content center-relative">
             <img src="{{configData.marca}}">
              

              <div class="copyright-holder"> 
                  © 2024 Ciberian
              </div>
          </div>
      </footer>
  </div>