                            



        <div *ngIf="pageData && configData" id="content" class="site-content center-relative">

            <!-- Home -->    
            <div id="home" class="section full-screen full-width">
                <div class="section-wrapper block content-1170 ">
                    <div class="content-wrapper">
                        <img src="/assets/images/hello.png" alt="" class="logo-topo block" >
                        <!--h1 class="big-text center">
                            We Craft Awesome Web And 
                            <br> 
                            Graphic Design Solutions
                        </h1-->
                    </div>
                </div>
            </div>

            <!-- A empresa --> 
            <div id="{{pageData[0].slug}}" class="section page-split">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                                
                    </div>
                    
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">
                            
                            
                            <div class="section-top-image"> 
                                <img src="/assets/images/01_left.png" alt="">
                            </div>
                            <h2 class="entry-title">
                               {{pageData[0].titulo}}
                            </h2>
                            <div class="three_fourth">
                                <p class="page-desc" [innerHTML]="sanitize(pageData[0].resumo)"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div [@openClose]="maisEmpresa ? 'closed' : 'open'" class="section-content-holder float-right text-justify lh-lg" [innerHTML]="pageData[0].conteudo" ></div>

                    <div [@openClose]="maisEmpresa ? 'open' : 'closed'" *ngIf="solucoesList" class="section-content-holder float-right">
                        <div class="content-wrapper">
                            
                            <div *ngFor="let item of documentosList; index as i;"  class="one_half animate" [ngClass]="{'last': i%2==0 }">
                                <div class="d-flex align-items-start" >
                                    <div class="service-img"> 
                                        <img src="{{item.image_url}}" alt="">
                                    </div>
                                    <div class="service-txt">
                                        <h4><a [href]="item.documento" target="_blank">{{item.title}}</a></h4> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="text-justify" *ngIf="descricaoServico"  [innerHTML]="descricaoServico"></div>
                            
                            <div class="clear"></div>
                        </div>                                                           
                    </div>
                    
                    <div class="section-content-holder float-right">
                        <div class="content-wrapper">
                            <nav>
                                <button type="button" [ngClass]="{'bt-open': maisEmpresa === false, 'bt-close' : maisEmpresa === true }" (click)="showHideEmpresa()"></button>
                            </nav>
                        </div>
                    </div>
                    

                    <div class="clear"></div> 
                </div>
            </div>


            <!-- Solucoes --> 
            <div id="{{pageData[1].slug}}" class="section page-split">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                                
                    </div>
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">
                            <div class="section-top-image"> 
                                <img src="/assets/images/02_left.png" alt="">
                            </div>
                            <h2 class="entry-title">
                               {{pageData[1].titulo}}
                            </h2>
                            <div class="three_fourth">
                                <p class="page-desc" [innerHTML]="sanitize(pageData[1].resumo)"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="descricaoSolucao" class="section-content-holder float-right text-justify lh-lg descricaoSolucao" [innerHTML]="descricaoSolucao" ></div>

                    
                    <div *ngIf="solucoesList" class="section-content-holder float-right">
                        <mat-divider class="mb-2 d-block"></mat-divider>
                        <div class="content-wrapper w-100">

                                <owl-carousel-o [options]="customOptions">
                                    <ng-container *ngFor="let slide of solucoesList; index as h">
                                      <ng-template carouselSlide>
                                        <div class="slide-{{h}}">
                                          <div *ngFor="let item of slide; index as i;"  class="one_half animate" [ngClass]="{'last': i%2==0 }">
                                            <div class="d-flex align-items-start" >
                                                <div class="service-img"> 
                                                    <img src="{{item.image_url}}" alt="">
                                                </div>
                                                <div class="service-txt">
                                                    <h4 (mouseover)="showSolucaoDescricao(h,i)">{{item.title}}</h4> 
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </ng-template>
                                    </ng-container>
                                  </owl-carousel-o>     
                                  
                            <div class="text-justify" *ngIf="descricaoServico"  [innerHTML]="descricaoServico"></div>

                            <div class="clear"></div>
                                                    
                    </div>
   
                    

                    <div class="clear"></div> 
                </div>
            </div>
        </div>

             <!-- Team -->
             <div id="{{pageData[2].slug}}" class="section page-split" *ngIf="colaboradoresList">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                                
                    </div>
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">
                            <div class="section-top-image"> 
                                <img src="/assets/images/03_left.png" alt="">
                            </div>
                            <h2 class="entry-title"> 
                                {{pageData[2].titulo}}
                            </h2>
                            <p class="page-desc" [innerHTML]="sanitize(pageData[2].resumo)">
                            </p>
                        </div>
                    </div>

                    <div class="section-content-holder float-right">
                        <div class="content-wrapper">
                            <div id="team-holder">
                                <div class="team-load-content-holder"></div>

                                <div class="text-justify" id="descricaoColaborador"  [innerHTML]="descricaoColaborador"></div>
                                
                                <ul class="member-holder-wrapper">

                                    <li *ngFor="let item of colaboradoresList; index as i;"  id="team-member-1" class="member-holder one_half">
                                        <a class="img-link ajax-member-content" (mouseover)="showDescricaoColaborador(i)"  data-id="1">
                                            <img class="attachment-post-thumbnail" src="{{item.image_url}}" alt="">
                                            <div class="member-mask">
                                                <div class="member-info-holder">
                                                    <p class="member-name">{{item.title}}</p>
                                                    <p *ngIf="item.cargo" class="member-position">CEO</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    
                                </ul>
                                <div class="clear"></div>                                        
                            </div>                                    
                        </div>                                
                    </div>
                    <div class="clear"></div>                           
                </div>                        
            </div>

            <!-- Contact -->
            <div id="{{pageData[3].slug}}" class="section page-split">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                               
                    </div>
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">
                            <div class="section-top-image"> 
                                <img src="/assets/images/04_left.png" alt="">
                            </div>
                            <h2 class="entry-title"> 
                                {{pageData[3].titulo}}
                            </h2>
                            <p class="page-desc" [innerHTML]="sanitize(pageData[3].resumo)">
                            </p>
                        </div>
                    </div>

                    <div class="section-content-holder float-right">
                        <div class="content-wrapper">-
                            <div class="info-text" [innerHTML]="pageData[3].conteudo" ></div>

                            <p>&nbsp;</p>

                            <form [formGroup]="formGroup" (ngSubmit)="sendMail()" >

                                <div class="contact-form">
                                    <!-- Nome -->
                                    <p>
                                        <input id="name" type="text" formControlName="nome" placeholder="Nome">
                                        <small *ngIf="hasError('nome', 'required')">Nome é obrigatório.</small>
                                        <small *ngIf="hasError('nome', 'minlength')">Nome deve ter no mínimo 3 caracteres.</small>
                                    </p>
                                
                                    <!-- Email -->
                                    <p>
                                        <input id="contact-email" type="email" formControlName="remetente" placeholder="Email">
                                        <small *ngIf="hasError('remetente', 'required')">Email é obrigatório.</small>
                                        <small *ngIf="hasError('remetente', 'email')">Email inválido.</small>
                                    </p>
                                
                                    <!-- Assunto -->
                                    <p>
                                        <input id="subject" type="text" formControlName="assunto" placeholder="Assunto">
                                        <small *ngIf="hasError('assunto', 'required')">Assunto é obrigatório.</small>
                                    </p>
                                
                                    <!-- Telefone -->
                                    <p>
                                        <input id="phone" type="text" formControlName="telefone" placeholder="Telefone">
                                        <small *ngIf="hasError('telefone', 'required')">Telefone é obrigatório.</small>
                                        <small *ngIf="hasError('telefone', 'pattern')">Telefone deve conter apenas números.</small>
                                    </p>
                                
                                    <!-- Mensagem -->
                                    <p>
                                        <textarea id="message" formControlName="mensagem" placeholder="Mensagem"></textarea>
                                        <small *ngIf="hasError('mensagem', 'required')">Mensagem é obrigatória.</small>
                                        <small *ngIf="hasError('mensagem', 'minlength')">Mensagem deve ter no mínimo 10 caracteres.</small>
                                    </p>
                                
                                    <!-- Botão de Enviar -->
                                    <p class="contact-submit-holder">
                                        <input type="submit" value="ENVIAR">
                                    </p>                             
                                </div>  

                            </form>

                            <p>&nbsp;</p>

                            <div class="one_half" [innerHTML]="configData.endereco"></div>

                            <div class="one_half last"> 
                                Telefone: {{configData.telefone}} <br> 
                                E-mail: {{configData.email}} <br> 
                            </div>
                            <div class="clear"></div>                                   
                        </div>                                
                    </div>
                    <div class="clear"></div>                            
                </div>                        
            </div>              
        </div>
