                            



        <div *ngIf="pageData && configData" id="content" class="site-content center-relative">

            <!-- Home -->    
            <div id="home" class="section full-screen full-width">
                <div class="block content-1170 my-auto ">
                    <!--div class="">
                        <img src="/assets/images/hello.png" alt="" class="logo-topo block" >
                    </div-->
                </div>
            </div>

            

            <!-- A empresa --> 
            <div id="{{pageData[0].slug}}" class="section page-split">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                                
                    </div>
                    
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">
     
                            <h2 class="entry-title">
                               {{pageData[0].titulo}}
                            </h2>
                            <div class="three_fourth">
                                <p class="page-desc" [innerHTML]="sanitize(pageData[0].resumo)"></p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="section-content-holder float-right text-justify lh-lg" >
                        <p [innerHTML]="pageData[0].conteudo"></p>

                        <div  *ngIf="solucoesList" class="section-content-holder float-right" >
                            <div class="content-wrapper">
                                
                                <div *ngFor="let item of documentosList; index as i;"  class="one_half animate" [ngClass]="{'last': i%2==0 }">
                                    <div class="d-flex align-items-start" >
                                        <div class="service-img"> 
                                            <img src="{{item.image_url}}" alt="">
                                        </div>
                                        <div class="service-txt">
                                            <h4><a [href]="item.documento" target="_blank">{{item.title}}</a></h4> 
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="text-justify" *ngIf="descricaoServico"  [innerHTML]="descricaoServico"></div>
                                
                                <div class="clear"></div>
                            </div>                                                           
                        </div>

                    </div>
                    

                    
                    
                    <!--div class="section-content-holder float-right">
                        <div class="content-wrapper">
                            <nav>
                                <button type="button" [ngClass]="{'bt-open': maisEmpresa === false, 'bt-close' : maisEmpresa === true }" (click)="showHideEmpresa()"></button>
                            </nav>
                        </div>
                    </div-->
                    

                    <div class="clear"></div> 
                </div>
            </div>


            <!-- Solucoes --> 
            <div id="{{pageData[1].slug}}" class="section page-split">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                                
                    </div>
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">
                            <h2 class="entry-title">
                               {{pageData[1].titulo}}
                            </h2>
                            <div class="three_fourth">
                                <p class="page-desc" [innerHTML]="sanitize(pageData[1].resumo)"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="descricaoSolucao" class="section-content-holder float-right text-justify lh-lg descricaoSolucao" [innerHTML]="descricaoSolucao" ></div>

                    
                    <div *ngIf="solucoesList" class="section-content-holder float-right">
                        <mat-divider class="mb-2 d-block"></mat-divider>
                        <div class="content-wrapper w-100">

                                <owl-carousel-o [options]="customOptions">
                                    <ng-container *ngFor="let slide of solucoesList; index as h">
                                      <ng-template carouselSlide>
                                        <div class="slide-{{h}}">
                                          <div *ngFor="let item of slide; index as i;"  class="one_half animate" [ngClass]="{'last': i%2==0 }">
                                            <div class="d-flex align-items-start" [ngClass]="{'selecionado-solucoes': selectedIndex === i}">
                                                <div class="service-img"> 
                                                    <img src="{{item.image_url}}" alt="">
                                                </div>
                                                <div class="service-txt">
                                                    <h4 (mouseover)="showSolucaoDescricao(h,i)">{{item.title}}</h4> 
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </ng-template>
                                    </ng-container>
                                  </owl-carousel-o>     
                                  
                            <div class="text-justify" *ngIf="descricaoServico"  [innerHTML]="descricaoServico"></div>

                            <div class="clear"></div>
                                                    
                    </div>
   
                    

                    <div class="clear"></div> 
                </div>
            </div>
        </div>

            <!-- Team -->
            <div id="{{pageData[2].slug}}" class="section page-split" *ngIf="colaboradoresList">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                                
                    </div>
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">

                            <h2 class="entry-title"> 
                                {{pageData[2].titulo}}
                            </h2>
                            <p class="page-desc" [innerHTML]="sanitize(pageData[2].resumo)">
                            </p>
                        </div>
                    </div>

                    <div class="section-content-holder float-right">
                        <div class="content-wrapper">
                            <div id="team-holder">
                                <div class="team-load-content-holder"></div>
                               
                                <div id="carouselExampleControls" class="carousel slide" >
                                    <div class="carousel-inner">
                                      <div *ngFor="let image of colaboradoresList; let i = index" class="carousel-item" [class.active]="i === 0">
                                        <img [src]="image.image_url" class="d-block w-100" [alt]="image.title">
                                        
                                        <!-- Título e descrição sobre a imagem -->
                                        <div class="carousel-caption d-md-block">
                                          <div class="overlay">
                                            <h4 class="p-0 m-2">{{ image.title }}</h4>
                                            <p [innerHTML]="image.description"></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                                                   
                                    
                                    <!-- Controles do Carousel -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    </div>  
                                <div class="clear"></div>                                        
                            </div>                                    
                        </div>                                
                    </div>
                    <div class="clear"></div>                           
                </div>                        
            </div>


            <!-- Parceirias -->

            <!-- Inspire -->
            <div id="{{pageData[3].slug}}"  class="section full-screen full-width">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="content-wrapper">

                        <h2 class="entry-title"> 
                            {{pageData[3].titulo}}
                        </h2>
                        <p class="page-desc" [innerHTML]="sanitize(pageData[3].resumo)">
                        </p>

                        <div class="section-content-holder m-auto">
                            <div class="content-wrapper">
                                <div id="team-holder">
                                    <div class="team-load-content-holder"></div>
                                   
                                    <div id="carouselParceiros" class="carousel slide m-auto">
                                        <div class="carousel-inner">
                                            <!-- Adiciona o layout para três imagens por slide -->
                                            <div *ngFor="let slide of parceirosSlides; let i = index" class="carousel-item" [class.active]="i === 0">
                                                <div class="row">
                                                    <div class="col-3" *ngFor="let image of slide">
                                                        <img [src]="image.image_url" class="d-block w-100" [alt]="image.title">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <!-- Controles do Carousel -->
                                        <button *ngIf="parceirosSlides.length>1" class="carousel-control-prev end-2" type="button" data-bs-target="#carouselParceiros" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button *ngIf="parceirosSlides.length>1" class="carousel-control-next" type="button" data-bs-target="#carouselParceiros" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                    
                                    <div class="clear"></div>                                        
                                </div>                                    
                            </div>                                
                        </div>
                        
                    </div>
                </div>
            </div>


            <!--div id="{{pageData[3].slug}}" class="section page-split" *ngIf="parceirosSlides">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                                
                    </div>
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">

                            <h2 class="entry-title"> 
                                {{pageData[3].titulo}}
                            </h2>
                            <p class="page-desc" [innerHTML]="sanitize(pageData[3].resumo)">
                            </p>
                        </div>
                    </div>

                    <div class="section-content-holder float-right">
                        <div class="content-wrapper">
                            <div id="team-holder">
                                <div class="team-load-content-holder"></div>
                               
                                <div id="carouselParceiros" class="carousel slide">
                                    <div class="carousel-inner">
                                        <!-- Adiciona o layout para três imagens por slide --
                                        <div *ngFor="let slide of parceirosSlides; let i = index" class="carousel-item" [class.active]="i === 0">
                                            <div class="row">
                                                <div class="col-4" *ngFor="let image of slide">
                                                    <img [src]="image.image_url" class="d-block w-100" [alt]="image.title">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!-- Controles do Carousel --
                                    <button class="carousel-control-prev end-2" type="button" data-bs-target="#carouselParceiros" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselParceiros" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                
                                <div class="clear"></div>                                        
                            </div>                                    
                        </div>                                
                    </div>
                    <div class="clear"></div>                           
                </div>                        
            </div>

            <!-- Contact -->
            <div id="{{pageData[4].slug}}" class="section page-split">
                <div class="section-wrapper block content-1170 center-relative">
                    <div class="bg-holder float-left">
                        <div class="split-color"></div>                               
                    </div>
                    <div class="sticky-spacer">
                        <div class="section-title-holder float-left">

                            <h2 class="entry-title"> 
                                {{pageData[4].titulo}}
                            </h2>
                        </div>
                    </div>

                    <div class="section-content-holder float-right">
                        <div class="content-wrapper">-
                            <div class="info-text" [innerHTML]="pageData[4].conteudo" ></div>

                            <p>&nbsp;</p>

                            <form [formGroup]="formGroup" (ngSubmit)="VerifySendMail()" >

                                <div class="contact-form">
                                    <!-- Nome -->
                                    <p>
                                        <input id="name" type="text" formControlName="nome" placeholder="Nome">
                                        <small *ngIf="hasError('nome', 'required')">Nome é obrigatório.</small>
                                        <small *ngIf="hasError('nome', 'minlength')">Nome deve ter no mínimo 3 caracteres.</small>
                                    </p>
                                
                                    <!-- Email -->
                                    <p>
                                        <input id="contact-email" type="email" formControlName="remetente" placeholder="Email">
                                        <small *ngIf="hasError('remetente', 'required')">Email é obrigatório.</small>
                                        <small *ngIf="hasError('remetente', 'email')">Email inválido.</small>
                                    </p>
                                
                                    <!-- Assunto -->
                                    <p>
                                        <input id="subject" type="text" formControlName="assunto" placeholder="Assunto">
                                        <small *ngIf="hasError('assunto', 'required')">Assunto é obrigatório.</small>
                                    </p>
                                
                                    <!-- Telefone -->
                                    <p>
                                        <input id="phone" type="text" formControlName="telefone" placeholder="Telefone">
                                        <small *ngIf="hasError('telefone', 'required')">Telefone é obrigatório.</small>
                                        <small *ngIf="hasError('telefone', 'pattern')">Telefone deve conter apenas números.</small>
                                    </p>
                                
                                    <!-- Mensagem -->
                                    <p>
                                        <textarea id="message" formControlName="mensagem" placeholder="Mensagem"></textarea>
                                        <small *ngIf="hasError('mensagem', 'required')">Mensagem é obrigatória.</small>
                                        <small *ngIf="hasError('mensagem', 'minlength')">Mensagem deve ter no mínimo 10 caracteres.</small>
                                    </p>

                                    <!-- Botão de Enviar -->
                                    <p class="contact-submit-holder">
                                        <input type="submit" value="ENVIAR">
                                    </p>                             
                                </div>  

                            </form>

                            <p>&nbsp;</p>

                            <div *ngIf="configData">
                                <div class="d-inline-grid mx-3 w-25" *ngFor="let item of configData; index as i;">
                                    <h4 class="p-0">{{item.titulo}}</h4>
                                    <p  [innerHTML]="item.address"></p>
                                    {{item.phone}}<br> 
                                    {{item.email}}
                                </div>                   
                                                          
                            </div>

                            <div class="clear"></div>                                   
                        </div>                                
                    </div>
                    <div class="clear"></div>                            
                </div>                        
            </div>              
        </div>
