@import '/src/variables.scss';




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

#bt_showHideEmpresa{
    color: #fff;
}

.carousel{
  width: 100%;
}

.carousel-caption {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Retângulo preto transparente */
  color: white;
  padding: 10px 10px 60px 10px;
  text-align: center;
  margin: auto;
}

.carousel-indicators {
    bottom: -10px;
}

.overlay h5, .overlay p {
  margin: 0;
}

