//variables colors
$color-primary: #000000;
$color-secondary: #98A4AB;
$color-grey: #98A4AB;
$color-dark-grey: #333B51;
$color-dark-grey-2: #222221;
$color-dourado: #B7B497;
$color-cinza-medio: #DDDDDD;
$color-cinza-claro: #EBEBEB;